.modal {
    /* position: fixed; Stay in place */
    display: block;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: pink; /* Fallback color */
  }
  .modal-content {
    background-color: #fefefe;
    color:black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }


.hidden{
    display: none;
}
.display{
    display: block;
}